<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p>&copy; 2024 My Application</p>
  <a href="/error/intentional-error">Trigger 500 Error</a> <!-- Link to intentional error -->
</footer>
