
    <!-- Hero Section with Text and Button -->
    <section class="hero">
        <h1>Welcome to CSE Motors!</h1>
    
        <%# Week 04 : Activity %>
        <%# messages() %>
    
        <picture>
            <source srcset="/images/vehicles/delorean.jpg" media="(max-width: 599px)">
            <img src="/images/vehicles/delorean.jpg" alt="Hero Image of DMC Delorean" loading="lazy" width="2" height="1">
        </picture>
    
        <div class="hero-text">
            <p>DMC Delorean - 3 Cup holders, Superman doors, Fuzzy dice!</p>
            <a href="/target-page" class="cta-button">Own Today</a>
        </div>
        </section>
      
    
        <div class="upgrades-reviews">
            <!-- Delorean Upgrades Section -->
            <section class="upgrades">
                <h2>Delorean Upgrades</h2>
                <div class="upgrade-list">
                    <div class="upgrade-item">
                        <img src="/images/upgrades/flux-cap.png" alt="A time-traveling device known as the Flux Capacitor" class="upgrade-image">
                        <a href="/Flux-Capacitor">Flux Capacitor Upgrade</a>
                    </div>
                    <div class="upgrade-item">
                        <img src="/images/upgrades/flame.jpg" alt="Flame decals for customizing your car" class="upgrade-image">
                        <a href="/Flame-Decals">Flame Decals</a>
                    </div>
                    <div class="upgrade-item">
                        <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper stickers with various designs" class="upgrade-image">
                        <a href="/Bumper">Bumper Stickers</a>
                    </div>
                    <div class="upgrade-item">
                        <img src="/images/upgrades/hub-cap.jpg" alt="Hub caps to enhance your wheels" class="upgrade-image">
                        <a href="/Hub-Caps">Hub Caps</a>
                    </div>
                </div>
            </section>
        
            <!-- Reviews Section -->
            <section class="reviews">
                <h2>DMC Delorean Reviews</h2>
                <ul>
                    <li>"So fast it's almost like traveling in time." (4/5)</li>
                    <li>"Coolest ride on the road." (5/5)</li>
                    <li>"I'm feeling McFly!" (5/5)</li>
                    <li>"The most futuristic ride of our day." (4.5/5)</li>
                    <li>"80's livin and I love it!" (5/5)</li>
                </ul>
            </section>
        </div>
    