* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --primary-color: #281e87; 
  --secondary-color: #333333;
  --background-color: #ffffff;
  --font-color: #333333;
}

body, html {
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
}

#warpper {
  background-image: url("/images/site/small_check.jpg");
  width: 100vw;
  min-height: 100vh;
  padding: 30px; 
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Inner Frame with White Background and Border */
.inner-frame {
  background-color: white;
  border: 5px solid var(--primary-color);
  padding: 20px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  box-sizing: border-box;
}

#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.siteName a {
  font-size: 1.5em;
  margin: 0;
  font-weight: bold;
  text-shadow: 0 4px 4px var(--font-color);
  color: var(--primary-color);
  text-decoration: none;
  
}

#tools a {
  font-size: 1em;
  color: var(--font-color);
  text-decoration: none;
  font-weight: bold;
}

#tool a:hover {
  color: #555;
}

/* Hero Section */
.hero {
  position: relative;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

picture img {
  width: 80%;
  height: auto; 
  max-width: 100%; 
}

.hero-text {
  position: absolute;
  top: 20%; 
  background-color: rgba(53, 51, 51, 0.5); 
  color: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  width: 200px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.hero h1 {
  font-size: 2em; 
  margin: 0;
  text-align: left;
}

.hero p {
  font-size: 1.2em; 
  margin-bottom: 10px;
}

.cta-button {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 15px 25px;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
}

.cta-button:hover {
  background-color: #8b4d6c;
}

.navigation {
  background-color: var(--primary-color); 
  text-align: center; 
  padding: 10px 0;
}

.navigation ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: space-between;
}

.navigation li {
  margin: 0 15px; 
}

.navigation a {
  color: var(--background-color); 
  text-decoration: none; 
  font-weight: bold; 
  padding: 5px 10px;  
}

.navigation a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Delorean Upgrades Section */
/* Section Upgrades and Reviews */
.upgrades-reviews{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 10px;
}
.upgrades, .reviews {
  padding: 20px;
  box-sizing: border-box;
}

.upgrades {
  background-color: #f4f4f4;
  color: var(--font-color);
  padding: 40px 20px;
  text-align: center;
}

.upgrades h2 {
  margin-bottom: 20px;
}

.upgrade-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.upgrade-item {
  background-color: var(--secondary-color);
  padding: 5px;
  border-radius: 8px;
  width: 100%;
}

.upgrade-item a {
  display: block; 
  margin-top: 10px;
  text-decoration: none;
  color: var(--background-color);
  background-color: var(--secondary-color);
  padding: 10px;
  text-align: center;
  border-radius: 8px;
}

.upgrade-image {
  width: 40%;
  height: auto;
  border-radius: 8px;
}

/* Reviews Section */
.reviews {
  padding: 40px 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.reviews h2 {
  margin-bottom: 20px;
}

.reviews ul {
  list-style-type: disc; 
  padding: 0;
}

.reviews li {
  margin-bottom: 10px;
  text-align: left;
}

.copyright {
  font-size: small;
}

/* Vehicle Grid Styling */
#inv-display {
  display: flex; 
  flex-wrap: wrap;
  gap: 20px; 
  padding: 20px;
  list-style: none; 
  justify-content: center; 
}

#inv-display hr {
  border: 0;
  border-top: 4px solid var(--primary-color); 
  margin: 15px 0;
}

#inv-display li {
  flex: 1 1 calc(33.33% - 20px); 
  max-width: calc(33.33% - 20px); 
  box-sizing: border-box; 
  text-align: center; 
  background: #fff;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#inv-display li:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#inv-display img {
  width: 100%; 
  max-height: 120px; 
  object-fit: cover; 
  border-radius: 5px; 
}

#inv-display .namePrice {
  margin-top: 10px; 
  padding-top: 10px;
  padding-bottom: 20px;
}

#inv-display .namePrice h2 {
  font-size: 16px; 
  font-weight: bold;
  margin: 5px 0;
  color: var(--primary-color); 
  text-decoration: none; 
  transition: color 0.3s ease;
  padding-top: 10px;
}

#inv-display .namePrice h2 a:hover {
  color: #3a031f;
  text-decoration: none;
}

#inv-display .namePrice span {
  font-size: 16px;
  color: #444;
  font-weight: bold;
}

.title_h1 {
  margin-top: 20px;
}

/* Notices Styling */
.notice {
  text-align: center;
  font-size: 18px;
  color: #4d4646;
  margin: 20px 0;
  text-decoration: none;
}

/*Error page */
.error-msg {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Vehicle page */
.vehicle-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 1rem; 
}

/* For Image */
.vehicleImg {
  flex: 1 1 40%; 
}

#vehicle-img {
  max-width: 100%;
  height: auto;
  border-radius: 5px; 
}

/* For Info */
.vehicle-info {
  flex: 1 1 50%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style for price */
.vehicle-info .price {
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 0 1px 1px var(--font-color);;
  color: var(--primary-color);
  background: linear-gradient(90deg, #eee4ed, #ede9ee);
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style for colors */
.vehicle-info .colors {
  background-color: #eee4ed;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Login Page */

.login form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid var(--font-color);
  border-radius: 8px;
  background: var(--primary-color);
  color: #fff;
  font-weight: bold;
}

.login label {
  display: block;
  margin-bottom: 5px;
}

.login input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login button {
  width: 30%;
  padding: 10px;
  background: var(--secondary-color);
  color: var(--background-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.login button:hover {
  background: #865c71;
}

.login p {
  color: var(--background-color);
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

.login a {
  color: var(--background-color); 
  text-decoration: underline;
  font-weight: bold; 
  font-style: italic;
  padding: 5px 10px;  
}

.login a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Flash message */
.flash-message {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

/* Register form */
.register form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  background: var(--background-color);
  color: var(--font-color);
  font-weight: bold;
}

.register legend{
  font-weight: bold;
  font-size: medium;
  color: var(--primary-color);
  text-shadow: 0 1px 1px var(--font-color);
  margin-bottom: 20px;
}

.register input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
}

.register button {
  width: 30%;
  padding: 10px;
  background: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  margin-top: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.register button:hover {
  background: #865c71;
}

#password {
  color: var(--primary-color);
  font-style: italic;
  font-size: small;
  margin: 0;
}


/* add the sign for input */
.register input:valid {
  border: 2px solid #28a745; /* green when user fill correctly*/
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="green"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px 20px; 
}

.register input:invalid {
  border: 2px solid #dc3545; /* red when typo error */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="red"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-11.293a1 1 0 00-1.414 0L10 9.586 7.707 7.293a1 1 0 10-1.414 1.414L8.586 11l-2.293 2.293a1 1 0 101.414 1.414L10 12.414l2.293 2.293a1 1 0 001.414-1.414L11.414 11l2.293-2.293a1 1 0 000-1.414z" clip-rule="evenodd"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px 20px;
}

/* Management View */
#add-inv {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
}

#add-inv li{
  margin-bottom: 10px;
}

/*Add-Classification */
.add-clasification form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid var(--font-color);
  border-radius: 8px;
  background: var(--primary-color);
  color: #fff;
  font-weight: bold;
}

.add-clasification label {
  display: block;
  margin-bottom: 5px;
}

.add-clasification input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-clasification button {
  width: 50%;
  padding: 10px;
  background: var(--secondary-color);
  color: var(--background-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.add-clasification button:hover {
  background: #865c71;
}

.add-clasification p {
  color: var(--background-color);
  text-align: center;
  font-style: italic;
  font-size: smaller;
  padding: 10px;
  margin-top: 10px;
}

.add-clasification input:valid {
  border: 2px solid #28a745; /* green when user fill correctly*/
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="green"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px 20px; 
}

.add-clasification input:invalid {
  border: 2px solid #dc3545; /* red when typo error */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="red"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-11.293a1 1 0 00-1.414 0L10 9.586 7.707 7.293a1 1 0 10-1.414 1.414L8.586 11l-2.293 2.293a1 1 0 101.414 1.414L10 12.414l2.293 2.293a1 1 0 001.414-1.414L11.414 11l2.293-2.293a1 1 0 000-1.414z" clip-rule="evenodd"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px 20px;
}

/*Add-inventory */
.add-inv form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid var(--font-color);
  border-radius: 8px;
  background: var(--primary-color);
  color: #fff;
  font-weight: bold;
}

.add-inv label {
  display: block;
  margin-bottom: 5px;
}

.add-inv input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#inv_description {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
}
#inv_color, #inv_year, #inv_miles, #inv_price{
  width: 50%;
}

.add-inv button {
  width: 50%;
  padding: 10px;
  background: var(--secondary-color);
  color: var(--background-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.add-inv button:hover {
  background: #865c71;
}

.add-inv p {
  color: var(--background-color);
  text-align: center;
  font-style: italic;
  font-size: smaller;
  padding: 10px;
  margin-top: 10px;
}

#classificationList{
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}


/* Media Query for smaller screen*/
@media (max-width: 640px) {
  #warpper {
    background-image: none; 
  }

  .navigation ul {
    flex-direction: column; 
    align-items: center; 
    border: #f4f4f4;
  }

  .navigation a {
    margin: 0;
    padding: 10px;
    font-size: 0.9em;  
    width: 100%;
    text-align: center;
  }
  
  .hero-text {
    width: 40%; 
    margin-top: 20px;
    padding: 5px;
  }

  .inner-frame {
    border: none;
    box-shadow: none;
  }

  .hero h1 {
    font-size: 1em; 
  }

  .hero p {
    font-size: 0.5em;
  }

  .cta-button {
    font-size: 0.5em; 
    padding: 5px 6px; 
    margin-top: 0;
  }

  .upgrades-reviews{
    display: flex;
    flex-direction: column;
  }

  .upgrade-list{
    max-width: 100%;
  }

  .upgrades h2 {
    font-size: 0.9em;
  }
  .upgrades a {
    font-size: 0.7em;
  }

  .reviews h2 {
    font-size: 0.9em;
  }

  .reviews li {
    font-size: 0.7em;
  }

  .reviews {
    order: 1; /* Reviews come first on small screens */
  }

  .upgrades {
    order: 0; /* Upgrades come second on small screens */
  }

  .copyright {
    font-size: 0.5em;
  }

  .vehicle-details {
    flex-direction: column; 
    align-items: center; 
  }

  .vehicleImg {
    flex: none;
    margin-bottom: 1rem; 
  }

  .vehicle-info {
    flex: none;
    text-align: center;
  }
}


